.bgimg-drone-assembly {
    background-image: url('./drone_assembly.png');
    min-height: 100%;
  }

.bgimg-drone-competition-flying {
background-image: url('./competition_drone.png');
min-height: 100%;
}